* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none;
}

.center {
    padding-left: calc(50% - 570px);
    padding-right: calc(50% - 570px);
}

.product {
    position: relative;
}

.btn__del {
    position: absolute;
    top: 28px;
    right: 22px;
    width: 18px;
    height: 18px;
    font-size: 0;
    border: none;
    background: none;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(img/cross.svg);
    z-index: 1;
    cursor: pointer;
}

/* .span {
    width: 18px;
    height: 18px;
    display: block;
    font-size: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(img/cross.svg);
} */

.product__box {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    gap: 40px;
}

.product__content {
    display: flex; 
    width: 652px;
    box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
}

.product__img {
    width: 262px;
}

.product__desc {
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    color: #575757;
}

.product__price {
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    color: #EF5B70;
}

.product__qty {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 24px;
}

.input__quantity {
    width: 44px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #656565;
    text-align: center;
    border: 1px solid #EAEAEA;
}

.product__name {
    margin-bottom: 42px;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #222222;
}

.product__desc {
    padding: 22px 97px 62px 31px;
}